<template>
  <div class="container">
    <h3>Ciudadano:</h3>
    <div>
      <table>
        <tr>
          <td>Nombre Ciudadano</td>
          <td><input v-model="nameCitizw" /></td>
          <td>Sexo</td>
          <td>
            <select v-model="selectedSex">
              <option v-for="s in sexo" v-bind:key="{ id: s.idSexo }">
                {{ s.nombreSexo }}
              </option>
            </select>
          </td>
          <td>
            <button v-on:click="search({ nameCitizw })">
              Buscar
            </button>
          </td>
        </tr>
      </table>
    </div>
    <h1 v-if="loading">Cargando...</h1>
    <div v-else>
      <table class="table">
        <thead>
          <tr>
            <!-- <th scope="col">Id</th> -->
            <th scope="col">Nombre</th>
            <th scope="col">Sexo</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="user in citizen" v-bind:key="user.idCiudadano">
            <!-- <th scope="row">{{ user.idCiudadano }}</th> -->
            <td>{{ user.nombreCiudadano }}</td>
            <td>{{ user.sexoCiudadano }}</td>
            <td>{{ user.direccionCiudadano }}</td>
            <td>{{ user.telefonoCiudadano }}</td>
            <td>{{ user.correoCiudadano }}</td>
            <td>
              <div id="example-3">
                <button v-on:click="update(user.idCiudadano)">
                  Modificar
                </button>
                <button v-on:click="eliminar(user.idCiudadano)">
                  Eliminar
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "Ciudadano",
  data() {
    return {
      citizen: null,
      sexo: null,
      loading: false,
    };
  },
  created: function() {
    (this.loading = true),
      axios
        .post("https://localhost:44319/api/Ciudadano/GetCiudadanoByFilter", {
          nombreCiudadano: "",
          idSexoCiudadano: -1,
        })
        .then((res) => {
          this.citizen = res.data;
          this.loading = false;
        })
        .catch((e) => {
          console.log(e);
        });

    axios
      .get("https://localhost:44319/api/Combo/GetComboSexo")
      .then((res) => {
        this.sexo = res.data.resp;
        this.loading = false;
      })
      .catch((e) => {
        console.log(e);
      });
    // .get("https://localhost:44319/api/Combo/GetComboDiaSemana")
    // .then((res) => {
    //   this.citizen = res.data.resp;
    //   this.loading = false;
    // });
  },
  methods: {
    search: function(nameCitizw) {
      console.log(nameCitizw.nameCitizw);
      (this.loading = true),
        axios
          .post("https://localhost:44319/api/Ciudadano/GetCiudadanoByFilter", {
            nombreCiudadano: nameCitizw.nameCitizw,
            idSexoCiudadano: -1,
          })
          .then((res) => {
            this.citizen = res.data;
            this.loading = false;
          })
          .catch((e) => {
            console.log(e);
          });
    },
    update: function(id) {
      alert(id);
    },
    eliminar: function(id) {
      alert(id);
    },
  },
};
</script>
<style>
h3 {
  margin-bottom: 5%;
}
</style>
